*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
 
}
.congrats {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide overflow if necessary */
    
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -25%);
    z-index: -1;
}
@media (max-width: 1024px) { 
    .background-image {
        transform: translate(-50%, -50%); 
    }
}
.congrats h1{
    z-index: 10;
    background-image: linear-gradient(to bottom, rgba(169, 221, 221, 0.6), #E5CDB5);
    padding: 30px;
    color: black;
    width: 50%;
    margin: 10% 25%;
    font-weight: 500;
}
@media (max-width: 1024px) { 
    .congrats h1{
        margin: 50% 20px;
        margin-right: 20px;
        width: 80%;
    }
}
 .animated-text {
        display: inline-flex;
        flex-wrap: wrap;
    }
.animated-text span {
    opacity: 0;
    animation: fadeIn 0.5s forwards; 
    margin-right: 0.2em;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateX(20px); 
    }
    100% {
        opacity: 1; 
        transform: translateX(0);
    }
}

/* Delay each word's animation */
.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.5s; }
.animated-text span:nth-child(3) { animation-delay: 1s; }
.animated-text span:nth-child(4) { animation-delay: 1.5s; }
.animated-text span:nth-child(5) { animation-delay: 2s; }
.animated-text span:nth-child(6) { animation-delay: 2.5s; }
.animated-text span:nth-child(7) { animation-delay: 3s; }
.animated-text span:nth-child(8) { animation-delay: 3.5s; }
.animated-text span:nth-child(9) { animation-delay: 4s; }
.animated-text span:nth-child(10) { animation-delay: 4.5s; }
.animated-text span:nth-child(11) { animation-delay: 5s; }
.animated-text span:nth-child(12) { animation-delay: 5.5s; }
.animated-text span:nth-child(13) { animation-delay: 6s; }
.animated-text span:nth-child(14) { animation-delay: 6.5s; }
.animated-text span:nth-child(15) { animation-delay: 7s; }
.animated-text span:nth-child(16) { animation-delay: 7.5s; }
.animated-text span:nth-child(17) { animation-delay: 8s; }
.animated-text span:nth-child(18) { animation-delay: 8.5s; }
.animated-text span:nth-child(19) { animation-delay: 9s; }
.animated-text span:nth-child(20) { animation-delay: 9.5s; }
.animated-text span:nth-child(21) { animation-delay: 10s; }
.animated-text span:nth-child(22) { animation-delay: 10.5s; }
.animated-text span:nth-child(23) { animation-delay: 11s; }
.animated-text span:nth-child(24) { animation-delay: 11.5s; }
.animated-text span:nth-child(25) { animation-delay: 12s; }
.animated-text span:nth-child(26) { animation-delay: 12.5s; }
.animated-text span:nth-child(27) { animation-delay: 13s; }
.animated-text span:nth-child(28) { animation-delay: 13.5s; }
/* gallary */
.container {
    width: 100%;
    max-width: 1200px; /* Optional: Limit max width */
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;

}

.gallary {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.gallary img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}
 h2{
    text-align: center;
    margin-top: 60px;
 }
 h3{
    text-align: center;
    margin-top: 30px;
 }
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container2 {
    padding: 10px 50px ;
    position: relative;
    width: 40%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
     0%{
        opacity: 1;
        transform: translateY(-30px);
     }
     100%{
        opacity: 1;
        transform: translateY(0px);
     }
}

.container2:nth-child(2){
    animation-delay: 1s;
}
.container2:nth-child(3){
    animation-delay: 2s;
}
.container2:nth-child(4){
    animation-delay: 3s;
}
.container2:nth-child(5){
    animation-delay: 4s;
}
.container2:nth-child(6){
    animation-delay: 5s;
}
.container2:nth-child(7){
    animation-delay: 6s;
}
.container2:nth-child(8){
    animation-delay: 7s;
}
.container2:nth-child(9){
    animation-delay: 8s;
}
.container2:nth-child(10){
    animation-delay: 9s;
}

.textBox{
    padding: 20px 30px;
    background-color: #E5CDB5;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
}
.textBox p{
    padding-top: 10px;
}
.left-container{
    left: 10%;
}
.right-container{
    left: 45%;
}
.container2 span{
    position:absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 20px;
    top: 32px;
    text-align: center;
    z-index:10 ;
    background-color: rgba(35, 168, 168, 0.6);
    color: #fff;
}
.right-container span{
    left: 20px;
}
.timeline::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 6px;
    top: 0;
    left:50%;
    background: #000;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
      height: 0;
    }
    100%{
     height: 100%;
    }
}


@media screen and (max-width:600px){
         .timeline{
            margin: 50px auto;
         }
         .timeline::after{
            left: 31px;
         }
         .container2{
            width: 80%;
            padding-left: 80px;
            padding-left: 25px;
         }
         .textBox{
            font-size: 13px;
         }
         .right-container{
            left: 15px;
         }
         .left-container{
            left: 15px;
         } 
         .right-container span,  .left-container span{
            left: 10px;
         }
}